#nescss > .container {
  max-width: 980px;
  margin: 0 auto;
  margin-top: 150px;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  background-color: white;
}

header:after {
  position: absolute;
  content: "";
  border-bottom: 4px solid #d2d7da;
  width: 200%;
  transform: translate(-20%, -15px);
  bottom: -15px;
  left: 0;
}

header > .container {
  display: flex;
  align-items: baseline;
  max-width: 980px;
  margin: 0 auto;
  padding-top: 1rem;
  transition: all 0.2s ease;
}

header > .container > .nav-brand {
  margin-right: auto;
}
header > .container > .social-button {
  margin-left: auto;
}

.nav-brand .brand-logo {
  margin-right: 1rem;
}
.nav-brand > a {
  color: #212529;
  text-decoration: none;
}

.social-buttons p {
  margin-bottom: 0;
}

/* Header-sticky */
header.sticky > .container {
  font-size: 0.8rem;
  padding: 0;
  align-items: center;
}
header.sticky .nav-brand h1 {
  margin: 0;
}
header.sticky .nav-brand p {
  display: none;
  margin-bottom: 0;
  font-size: 0.6rem;
}

/* Floating Animation */

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 4px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

/* NavBar */
a {
  color: #212529;
}
.codedex--header {
  margin-bottom: 0;
  line-height: 55px;
}

.nav__toggler {
  opacity: 0.5;
  transition: box-shadow 0.15s;
  float: right;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  border-radius: 5px;
}

.collapsible__content {
  display: none;
  overflow: hidden;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  display: block;
}

.nav__item {
  list-style: none;
  padding: 1rem 0;
  border-bottom: 2px solid #222;
}

.nav__item:last-of-type {
  border-bottom: none;
  /* padding-top: 0; */
  padding-bottom: 0;
  padding-right: 0;
}

.nav__item > a {
  text-decoration: none;
  transition: color 0.3s;
  padding: 0;
}

.nav__item > a :hover {
  color: #666;
}

.nav__list {
  width: 100%;
  margin: 0;
  padding: 0 0.5rem;
}

.header-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-container-root {
  margin: 95px auto 100px;
}

.hero-heading {
  margin: auto;
  position: relative;
  top: 15%;
  text-align: center;
  color: white;
  font-size: 40px;
  text-shadow: 0px 6px #0026ff;
}

.hero-sub-heading {
  margin: auto;
  position: relative;
  top: 18%;
  text-align: center;
  color: #684001;
}

.hero-container {
  position: relative;
  background-image: url('./images/header.png');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 400px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  header {
    padding: 20px;
    flex-direction: column;
  }

  .hero-heading {
    font-size: 20px;
    top: 5%;
  }

  .hero-sub-heading {
    top: 10%;
  }

  .codedex--header {
    display: flex;
    align-items: center;
  }

  .root-anchor {
    margin-left: 20px;
  }

  .row-with-computer-and-bubble {
    display: flex;
    align-items: flex-end;
    bottom: 40px !important;
  }

  .hero-container {
    background-size: auto;
  }

  .hero-container-root {
    margin: 95px auto 225px;
  }

  .hero-container-root {
    margin: 95px auto 10px;
  }

  .from-left {
    min-width: 262px;
    /* width: 260px; */
    height: 176px;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  header {
    padding: 20px;
  }

  .hero-heading {
    font-size: 30px;
    top: 8%;
  }

  .hero-sub-heading {
    top: 10%;
  }

  .from-left {
    min-width: 490px;
    /* width: 490px; */
    height: 104px;
  }

  .row-with-computer-and-bubble {
    display: flex;
    align-items: flex-end;
    bottom: 40px !important;
  }

  .hero-container-root {
    margin: 95px auto 10px;
  }

  /* .hero-container {
    background-size: auto;
  } */
}

@media only screen and (min-width: 767px) {
  .from-left {
    min-width: 635px;
    /* width: 635px; */
    height: 104px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  header {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  .collapsible--expanded .collapsible__content {
    display: flex;
  }

  .codedex--header {
    display: flex;
    align-items: center;
  }

  .material-symbols-outlined {
    display: none !important;
  }

  .root-anchor {
    margin-left: 20px;
  }

  .nav__toggler {
    display: none;
    overflow: hidden;
  }

  .nav__list {
    width: auto;
    font-size: 1rem;
    max-height: 100%;
    opacity: 1;
    display: flex;
    float: right;
    text-align: center;
    align-items: center;
  }

  .nav__item {
    border: 0;
    padding: 0 0.9rem;
  }

  nav.nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .from-left {
    min-width: 635px;
    /* width: 800px; */
  }
}

@media only screen and (min-width: 1024px) {
  .computer-image {
    margin-left: 35px;
    margin-right: 5px
  }

  .from-left {
    /* min-width: 800px; */
    width: 800px;
    height: 105px;
  }

  .hero-container-root {
    margin: 95px auto 100px;
  }

  .row-with-computer-and-bubble {
    display: flex;
    align-items: flex-end;
    bottom: -65px !important;
  }
}

@media only screen and (min-width: 1199px) {
  .from-left {
    /* min-width: 800px; */
    width: 850px;
    height: 105px;
  }
}

@media only screen and (min-width: 1440px) {
  .computer-image {
    margin-left: 35px;
    margin-right: 5px
  }

  .from-left {
    min-width: 900px;
    /* width: 900px; */
  }

  .hero-container-root {
    margin: 95px auto 100px;
  }

  .row-with-computer-and-bubble {
    display: flex;
    align-items: flex-end;
    bottom: -65px !important;
  }
}